<header th:fragment="header-fragment" class="main-header">
    <nav>
        <div>
            <a th:href="@{/}">
                <img th:src="@{/image/logo2.png}" width="150px" height="35px">
            </a>
        </div>
        <ul class="nav-menu">
            <li>
                <span>대화</span>
                <ul class="dropdown">
                    <li><a th:href="@{/dialog/group}">그룹 친밀도</a></li>
                    <li><a th:href="@{/dialog}">개인 호감도</a></li>
                    <li><a th:href="@{/dialog/danger}">관계 위험도</a></li>
                </ul>
            </li>
            <li><a href="#compatibility">궁합</a></li>
            <li>
                <span>MBTI</span>
                <ul class="dropdown">
                    <li><a href="#mbti-analysis">MBTI 성향</a></li>
                    <li><a href="#mbti-compatibility">MBTI 궁합</a></li>
                </ul>
            </li>
            <li><a th:href="@{/post}">고민 상담소</a></li>
        </ul>
        <div class="nav-buttons">
            <div th:if="${session.loginUser == null}">
            <a th:href="@{/login}" class="btn-login">로그인</a>
            <a th:href="@{/signup}" class="btn-signup">회원가입</a>
            </div>

            <div th:if="${session.loginUser != null}">
                <a th:href="@{/mypage}" class="btn-login">마이페이지</a>
                <a th:href="@{/logout}" class="btn-signup">로그아웃</a>
            </div>
        </div>
    </nav>
</header>